// font-family 


@font-face {
  font-family: 'Codec Pro';
  src: url('/assets/fonts/CodecPro-Regular.woff2') format('woff2'),
       url('/assets/fonts/CodecPro-Regular.woff') format('woff');
  font-weight:300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('/assets/fonts/CodecPro-Bold.woff2') format('woff2'),
       url('/assets/fonts/CodecPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Codec Pro';
  src: url('/assets/fonts/CodecPro-Italic.woff2') format('woff2'),
       url('/assets/fonts/CodecPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}





body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: 1.688;
}

html, body {
  overflow-x: hidden;
}


// ===============================
// Mobile
// ===============================
@media (max-width: 576px) {
  body {
    font-size: 0.875rem;
    line-height: 1.4;
  }
}


// Quote Section
.quote {
  display: flex;
  flex-direction: column; 
  width: 585px;
  padding-left: 30px;
  align-items: flex-start;
  gap: 10px;
  border-left: 2px solid $primary; 
  align-self: stretch;
  color: $body-color; 

  // Quote Text - Desktop
  &-text {
    font-family: $font-family-base; 
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5; 
    color: $body-color;
  }

  // Quotee Name / Position - Desktop
  &-author {
    font-family: $font-family-base;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    color: $body-color;
    align-self: stretch;
  }

  // Mobile Styles
  @media (max-width: 576px) {
    width: 100%;
    padding-left: 30px;

    &-text {
      font-size: 16px;   
      line-height: 1.4; 
    }

    &-author {
      font-size: 12px;   
      line-height: 1.4;  
      align-self: stretch;
    }
  }
}


// Date 

.date {
  align-self: stretch;
  font-family: $font-family-base; 
  font-size: 16px;               
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;               
  color: $body-color;            

  // Mobile Styles
  @media (max-width: 576px) {
    font-size: 14px;                         
  }
}



// inline  link 
.inline-link {
  font-size: 18px;                
  font-style: normal;
  color: $primary;           
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font ;

  // Mobile
  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 1.4;       
  }

  &:hover {
    color: shift-color($primary, 20%); 
    text-decoration: underline;        
  }
}

//unorder list icon

ul.custom-disc {
  li::marker {
    color: $primary; 
    font-size: 1.8em; 
  }
}





// ==========================
// FIX PRIMARY HOVER & COLORS
// ==========================
.btn  {

  &:hover {
    color: $primary ;       
    background-color: $primary-hover ; 
    border-color: $primary-hover ;    
  }
}
/* ===== DISABLE HOVER BACKGROUND FOR BURGER ===== */

.btn-menu,
.btn-menu:hover,
.btn-menu:focus,
.btn-menu:active {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

/* ===  BURGER BUTTON COLOR  page 2 === */
.btn-menu2,
.btn-menu2:hover,
.btn-menu2:focus,
.btn-menu2:active {
  position: relative;
  z-index: 2; 
  background: transparent;
  color: $primary-hover !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}




.btn-secondary:hover, .btn-tertiary:hover {
  background-color: $secondary-hover ;
  border-color: $secondary-hover ;
  color: #000 ; 
}

// primary-hover text 
.text-primary-hover {
  color: $primary-hover; 
}

// primary-background
.bg-primary-hover {
    background-color: $primary-hover; 
}

// tertiary-hover background 

.bg-tertiary-hover {
    background-color: $tertiary-hover; 
}

//hr primary hover color 
 .custom-hr {
    border: 1px solid $primary-hover;
    opacity: 0.5;
 }



//page1

/* =========================================
   HEADER + SIDEBAR + SLIDER (SAFE VERSION)
   Uses Bootstrap Variables – No Conflicts
========================================= */


/* ---------- NAVBAR ---------- */
.navbar {
  z-index: 1070;
  transition: all 0.3s;
  padding-right: 15px ;

  @media (max-width: 768px) {
    padding-right: 15px ;
  }
}
/* ===== NAVBAR OVER HERO (NOT STICKY) ===== */
.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1050;
}


.logo-img1 {
  width: 150px;
  height: 50px;

  img {
    height: 100%;
    object-fit: contain;
  }
}

/* ---------- BURGER BUTTON ---------- */
/* ===== BURGER WITH SUBTRACT FIX ===== */
.burger-container {
  position: relative;
  width: 164px;
  height: 59px;
}


.burger-container img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  pointer-events: none; 
}


.btn-menu {
  position: relative;
  z-index: 2; 
  background: transparent;
}


/* ---------- SIDEBAR ---------- */
.sidebar {
  position: fixed;
  top: -100%;
  right: 0;
  width: 450px;
  height: 90vh;
  z-index: 2000;
  transition: top 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  &.active {
    top: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 90vh;
  }
}



.btn-close-custom {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: $primary-hover;
  transition: transform 0.3s;

  &:hover {
    transform: rotate(90deg);
  }
}


/* ===================== SIDEBAR LINKS ===================== */

/* ---------- MENU LINKS ---------- */
.sidebar-content {
  flex: 1;
  padding: 0 50px;
}


/* Menu link  */
.menu-link {
  font-size: 1.75rem;
  font-weight: 700;
  color: $white;
  padding: 12px 0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.3s, border-color 0.3s;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: rgba($white, 0.7);
    border-bottom-color: $white;
  }
}

.arrow-icon {
  margin-left: 5px;     
  font-size: 1.8rem;      
  display: inline-block;
  transition: transform 0.3s;
  color: $primary-hover ;
}

.menu-link:not(.collapsed) .arrow-icon,
.submenu-link.d-flex:not(.collapsed) .arrow-icon {
  transform: rotate(180deg);
}




/* Submenu links */
.submenu-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba($white, 0.9);
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $secondary;
    border-bottom-color: $white;
  }
}
.submenu-list li {
  margin-top: 10px; 
}

/* Nested submenu */
.nested-submenu-list {
  padding-left: 15px;
  border-left: 1px solid rgba($white, 0.2);
  margin: 5px 0 15px;
}


.nested-link {
  font-size: 0.95rem;
  font-weight: 300;
  color: rgba($white, 0.6);
  padding: 5px 0;
  display: block;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}



/* ---------- HERO SLIDER ---------- */
.hero-slider-container {
  height: 90vh;
  position: relative;
  background: #000;
}

.hero-slide {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

// Hero & slider
.hero-slider-container,
.hero-slide {
  max-width: 100vw;
  overflow: hidden;
} 

.slide-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0%,
    rgba(0,0,0,0.2) 50%,
    rgba(0,0,0,0.4) 100%
  );
}

.hero-content-wrapper {
  position: absolute;
  bottom: 25%;
  left: 80px;
  max-width: 800px;
  z-index: 20;

  @media (max-width: 768px) {
    left: 20px;
    right: 20px;
  }
}

.hero-title {
  text-shadow: 0 4px 20px rgba(0,0,0,0.5);
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

/* ---------- SLICK DOTS ---------- */
.slick-dots {
  position: absolute;
  bottom: 15%;
  left: 80px;
  display: flex !important;
  gap: 15px;
  list-style: none;
  padding: 0;
  z-index: 30;

  @media (max-width: 768px) {
    left: 20px;
  }

  li {
    width: 24px;
    height: 24px;
  }
}

.custom-dot {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.slick-active .custom-dot {
  transform: scale(1.1);
}

/* ---------- FOOTER GLANCE ---------- */
.footer-glance {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $primary;
  padding: 30px 80px;
  border-top-left-radius: 20px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

// home page sections 


.triangles-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;       
    height: 100%;
    background-image: url('/assets/images/Group.svg');
    background-repeat: repeat-y;
    background-size: 40px 116px;  
    filter: brightness(2) opacity(0.2);
}

  .partner-card {
  width: 150px;
  height: 140px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  padding: 10px;

}

.partner-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.partner-card:hover img {
  transform: scale(1.08);
}

.partner-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* link effect  */

.link-hover-effect {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  transition: 
    transform 0.3s ease,
    text-decoration 0.3s ease;

  &::after {
    content: url('/assets/images/link.svg');
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  &:hover {
    text-decoration: none;
    transform: translateX(8px); 

    &::after {
      right: 100%;
      transform: translateY(-50%) translateX(-8px);
    }
  }
}

  /* ===== SLIDER WRAPPER ===== */
    .news-slider {
      overflow: hidden;
      margin: 0 auto;
       height: 800px;
    }

    /* ===== SLIDES WIDTH CONTROL ===== */
      /* ===== DESKTOP ONLY ===== */
    @media (min-width: 769px) {

  .news-slider .slick-slide {
    width: 600px !important;
    height: 400px !important;
    opacity: 0.5;
    transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.45s ease;
    padding: 0 20px;
  }

  .news-slider .slick-center {
    width: 1000px !important;
    height: 800px !important;
    opacity: 1;
  }
  

}

    /* ===== IMAGE BOX ===== */
    .img-box {
      width: 100%;
      height: 400px;
      overflow: hidden;
      border-radius: 12px;
      position: relative;
      transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
      opacity 0.45s ease;

    }

    .slick-center .img-box {
      height: 670px;
    }

    .img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1),
      opacity 0.45s ease;

    }

    /* ===== ZOOM HOVER ===== */
    .news-card:hover .img-box img {
      transform: scale(1.08);
    }

    /* ===== TEXT INSIDE IMAGE ===== */
    .img-box .overlay-text {
      position: absolute;
      bottom: 50px;
      left: 50px;
      padding: 5px 12px;
    }


     /* ===== CONTENT ===== */
    .news-content {
      margin-top: 14px;
      text-align: left; 
      padding-left: 6px;
    }

    .news-content p {
      margin-bottom: 4px;
      font-size: 16px;
    }


/* ===== LINK HOVER EFFECT ===== */
.news-card .inline-link2 {
  position: relative;         
  text-decoration: underline;
  display: inline-block;
  transition:
    transform 0.3s ease,
    text-decoration 0.3s ease;
}

.news-card .inline-link2::after {
  content: url('/assets/images/Vectorsider.svg');
  position: absolute;     
  top: 50%;             
  right: -20px;           
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.news-card:hover .inline-link2 {
  text-decoration: none;
  transform: translateX(8px); 
}

.news-card:hover .inline-link2::after {
  right: 100%;           
  transform: translateY(-50%) translateX(-8px); 
}


    /* ===== BLACK OVERLAY ON HOVER ONLY ===== */
    .news-card .img-box::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0,0,0,0); 
      transition: background-color 0.3s ease;
      z-index: 5; 
      pointer-events: none; 
      border-radius: 12px; 
    }

    .news-card:hover .img-box::before {
      background-color: rgba(0,0,0,0.25); 
    }


    

    /* ===== ARROWS ===== */
    /* ===== ARROWS STYLE (LIKE IMAGE) ===== */
.arrow-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bs-primary);
  position: relative;
  border: none;
}

/* السهم */
.arrow-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

/* رأس السهم */
.arrow-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

/* سهم يسار */
.prev-btn::before {
  left: 50%;
  transform: translate(-8px, -50%) rotate(-135deg);
}

/* سهم يمين */
.next-btn::before {
  left: 50%;
  transform: translate(2px, -50%) rotate(45deg);
}


    /* ===== RESPONSIVE للموبايل ===== */
    @media (max-width: 768px) {

  .news-slider .slick-slide {
    width: 70vw !important;   
    padding: 0 12px;
    opacity: 0.6;
  }

  .news-slider .slick-center {
    width: 85vw !important; 
    opacity: 1;
  }

  .img-box {
    height: 40vw;
    min-height: 220px;
  }

  .slick-center .img-box {
    height: 55vw;
    min-height: 280px;
  }
  .news-slider {
  overflow: hidden;
  width: 100%;
   height: auto;
}

  

}


/* ===== FOOTER LINK HOVER ===== */


.social-icon {
  height: 30px;
  width: auto;
  display: block;
}


footer ul li a {
  position: relative;
  padding-bottom: 2px;
}

footer ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;      
  background-color: #ffffff;
  opacity: 0;
}

footer ul li a:hover::after {
  opacity: 1;      
}



.section-spacing {
  margin-top: clamp(40px, 8vw, 125px);
  margin-bottom: clamp(40px, 8vw, 125px);
}




// admissions page

.page-title {
    margin-top: 150px;   
    margin-bottom: 10px; 
}

.page-title2{
    margin-top: 50px;   
    margin-bottom: 10px; 
}

/* logo filter */
.logo-img {
    filter: invert(75%) sepia(100%) saturate(500%) hue-rotate(90deg);
    height: 50px;
}

/* Hero */
.hero-section {
    height: 800px;
}
.hero-section2 {
    height: 600px;
}

/* News Card */
.news-card-wrapper {
    width: 100%;
    max-width: 1000px;
    height: 800px;
    background-color: white;
    position: relative;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1);
    margin: 0 auto;
    padding-top: 30px; 
    background-color: $tertiary-hover;
}

/* Data Bar */
.data-bar {
    height: 56px;
    position: absolute;
    top: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    left: calc(50% - 50vw);
    width: calc(50vw + 200px);
    padding-left: calc((100vw - 1000px)/2 + 2rem);
    padding-right: 2rem;
}



/* Floating section */
.floating-section {
    margin-top: -400px;
    padding-bottom: 100px;
}

.floating-section2 {
    margin-top: -250px;
    padding-bottom: 100px;
}
.floating-section3 {
    margin-top: -30px;
    padding-bottom: 100px;
}

/* Image Wrapper */
.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.image-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--bs-primary);
    opacity: 0.25;
    mix-blend-mode: multiply;
}

/* Menu Button */
.menu-btn-container {
    position: relative;
    width: 160px;
    height: 60px;
    z-index: 1050;
}

.menu-btn-bg {
    position: absolute;
    inset: 0;
    background-image: url('/assets/images/Subtract (1).svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-btn {
    width: 75px;
    height: 55px;
    background-color: transparent !important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    color: var(--bs-secondary);
}

/* Mobile Tweaks */
@media (max-width: 991px) {
    .hero-section {
        height: auto;
        min-height: 600px;
        padding-bottom: 100px;
    }
    .floating-section {
        margin-top: -50px;
    }
    .news-card-wrapper {
        height: auto;
        aspect-ratio: 16/9;
        max-width: 100%;
        padding-top: 30px;
    }
    .data-bar {
        left: 0;
        width: 100%;
        padding-left: 2rem;
    }
}

@media (max-width: 576px) {
    .news-card-wrapper {
        height: 400px;
        padding-top: 20px;
    }
      .data-bar {
    left: 0 !important;
    width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .page-title {
    font-size: 3rem;
   
  }
}


/* Mobile Tweaks */
@media (max-width: 991px) {
   
    .floating-section2 {
        margin-top: -50px;
    }

}

@media (max-width: 576px) {

  .page-title2 {
    font-size: 2.8rem;
   
  }
}

/* === TABLE HEADER BORDER COLOR === */
.table thead tr {
  border-bottom: 2px solid $primary-hover !important;
}

.table thead th,
.table thead td {
  border-bottom: 0 !important;
}


@media (min-width: 768px) {
    .custom-width-md {
        max-width: 75%;
    }
}
