// colors variables 

$primary : #00372A;
$secondary:#D9E378;
$tertiary:#E4ECEA;

$success:#198754;
$info:#0DCAF0;
$warning: #FFCD39;
$danger:#B02A37;

$primary-hover:#C2D500;
$secondary-hover:#21B592;
$tertiary-hover:#DBEAE6;


// display variables

// Desktop display
$display-font-sizes: (
  1: 3.75rem,
  2: 3rem,
  3: 2.375rem,
  4: 1.875rem,
  5: 1.5rem,
  6: 1.125rem
) ;

// Mobile display
$display-font-sizes-mobile: (
  1: 3.125rem,
  2: 2.375rem,
  3: 1.75rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem
);

// override display font sizes for mobile

@each $size, $desktop-value in $display-font-sizes {
  @media (max-width: 576px) {
    .display-#{$size} {
      font-size: map-get($display-font-sizes-mobile, $size) ;
    }
  }
}

// heading variables  

// heading  font sizes
$enable-rfs: false;
$h1-font-size: 76px !default;
$h2-font-size: 40px !default;
$h3-font-size: 27px !default;
$h4-font-size: 23px !default;
$h5-font-size: 20px !default;
$h6-font-size: 16px !default;


h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

// override heading font sizes for mobile
@media (max-width: 576px) {
  h1 { font-size: 36px ; }
  h2 { font-size: 28px ; }
  h3 { font-size: 22px ; }
  h4 { font-size: 20px ; }
  h5 { font-size: 18px ; }
  h6 { font-size: 14px ; }
}




// ===============================
// Font Weights
// ===============================
$font-weight-normal: 300;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;
$headings-font-weight: $font-weight-bold;


// ===============================
// Font Family
// ===============================
$font-family-base: 'Codec Pro', sans-serif !default;
$font-size-base: 1.125rem;





// Lead override for desktop
$lead-font-size: 1.4375rem;


// override lead for mobile
@media (max-width: 576px) {
  body .lead {           
    font-size: 1rem;
    line-height: 1.4;
  }
}

// small override for desktop
$small-font-size: 1rem !default;   

// override small for mobile
@media (max-width: 576px) {
  body .small {
    font-size: 0.75rem; 
    line-height: 1.4;
  }
}



